@import "tailwindcss";

:root {
  /* Design Tokens - Colors */
  --color-cool-black: #001f33;
  --color-grey: #a3a3a3;
  --color-white: #ffffff;
  --color-neutral-400: #a3a3a3;
  
  /* Layout */
  --max-width: 1440px;
  --horizontal-padding: 120px;
}

@theme inline {
  --color-cool-black: #001f33;
  --color-grey: #a3a3a3;
  --color-white: #ffffff;
  --color-neutral-400: #a3a3a3;
  
  --font-mono: var(--font-roboto-mono);
  --font-sans: var(--font-lexend-deca);
}

body {
  background: var(--color-white);
  color: var(--color-cool-black);
  font-family: var(--font-roboto-mono), monospace;
}
